<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Administrative System">
    <meta name="author" content="DX Suporte - Danilo Xavier">
    <meta name="generator" content="visual studio code">
    <meta name="keywords" content="electron, adonisjs, nodejs, bootstrap">
    <title>Deskae</title>

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{{myUrl}}/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Aos -->
    <link rel="stylesheet" type="text/css" href="{{myUrl}}/vendor/aos/aos.css">
    <!-- Datatable -->
    <link rel="stylesheet" type="text/css" href="{{myUrl}}/vendor/DataTables/datatables.min.css">
    <!-- IcoFont -->
    <link rel="stylesheet" type="text/css" href="{{myUrl}}/vendor/icofont/icofont.min.css">
    <!-- APP CSS -->
    <link rel="stylesheet" type="text/css" href="{{myUrl}}/css/app.css">

    <!--Jquery -->
    <script src="{{myUrl}}/vendor/jquery/jquery.min.js"></script>
</head>

<body class="bg-light">

    <!--------start navbar ----------------------->
    @include('include/navbar')
    <!--------stop navbar ------------------------>

    <!--------start navbar ----------------------->
    @include('include/alert')
    <!--------stop navbar ------------------------>

    <div class="container-fluid">
        <div class="row">

            <!--------start nav ----------------------->
            @include('include/nav')
            <!--------stop NavBar ------------------------>

            <!--------start main ------------------------>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 mb-5">
                @!section('conternt')
            </main>
            <!--------stop main ------------------------>

        </div>
    </div>

    <!--------start footer ----------------------->
    @include('include/footer')
    <!--------stop footer ------------------------>

    <!--Bootstrap -->
    <script src="{{myUrl}}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- oas Files -->
    <script src="{{myUrl}}/vendor/aos/aos.js"></script>
    <!-- Jquery dataTables-->
    <script src="{{myUrl}}/vendor/DataTables/datatables.min.js"></script>
    <!-- Vendor jquery-mask Files -->
    <script src="{{myUrl}}/vendor/jquery-mask/jquery.mask.min.js"></script>
    <!--Tinymce-->
    <script src="{{myUrl}}/vendor/tinymce/tinymce.min.js"></script>
    <!--APP JS-->
    <script src="{{myUrl}}/js/app.js"></script>

</body>

</html>