<!doctype html>
<html lang="pt-br">

@if(auth.user)
<!--------start Theme ----------------------->
@include('include/theme')
<!--------stop Theme ------------------------>
@endif

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="description" content="Sistema Administrativo">
  <meta name="author" content="DX Suporte - Danilo Xavier">
  <meta name="generator" content="visual studio code">
  <meta name="keywords" content="electron, adonisjs, nodejs, bootstrap">
  <title>Deskae</title>
  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
  <!-- IcoFont -->
  <link rel="stylesheet" type="text/css" href="/vendor/icofont/icofont.css">
  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.css">
  <!-- Bootstrap Select -->
  <link rel="stylesheet" type="text/css" href="/vendor/bootstrap-select/css/bootstrap-select.min.css">
  <!-- owl.carousel -->
  <link rel="stylesheet" type="text/css" href="/vendor/owl.carousel/css/owl.carousel.css">
  <!-- Venobox -->
  <link rel="stylesheet" type="text/css" href="/vendor/venobox/css/venobox.min.css">
  <!-- Datatable -->
  <link rel="stylesheet" type="text/css" href="/vendor/DataTables/datatables.min.css">
  <!-- Aos -->
  <link rel="stylesheet" type="text/css" href="/vendor/aos/aos.css">
  <!-- App -->
  <link rel="stylesheet" type="text/css" href="/css/app.css">
  <!-- MainApp -->
  <link rel="stylesheet" type="text/css" href="/css/mainApp.css">

  <!--jquery -->
  <script src="/vendor/jquery/jquery.min.js"></script>
</head>

<body
  class="{{auth.user ? auth.user.theme === 1 ? 'bg-dark text-light' : 'bg-light text-dark' : 'bg-dark text-light'}}">
  <div class="body">

    <!--====Inicio loading Toasts Alerts=============-->
    @include('include/plugin')
    <!--====Fim loading Toasts Alerts================-->

    <!--------start Header ----------------------->
    @include('include/header')
    <!--------End Header ------------------------>

    <!--------start main ------------------------>
    <main>
      @!section('conternt')
    </main>
    <!--------stop main ------------------------>

    <!--------start modal ----------------------->
    @include('include/modal')
    <!--------stop modal ------------------------>

    <!--------start footer ----------------------->
    @include('include/footer')
    <!--------stop footer ------------------------>

  </div>

  <!--Bootstrap JS-->
  <script src="/vendor/bootstrap/js/bootstrap.bundle.js"></script>
  <!--Bootstrap Select JS-->
  <script src="/vendor/bootstrap-select/js/bootstrap-select.js"></script>
  <!--owl.carousel JS-->
  <script src="/vendor/owl.carousel/js/owl.carousel.js"></script>
  <!--Venobox JS-->
  <script src="/vendor/venobox/js/venobox.js"></script>
  <!-- Aos JS-->
  <script src="/vendor/aos/aos.js"></script>
  <!--Tinymce JS-->
  <script src="/vendor/tinymce/tinymce.min.js"></script>
  <!-- Jquerymask JS -->
  <script src="/vendor/jquery-mask/jquery.mask.min.js"></script>
  <!-- DataTables JS-->
  <script src="/vendor/DataTables/datatables.min.js"></script>
  <!-- App JS -->
  <script src="/js/app.js"></script>
  <!-- MainApp JS -->
  <script src="/js/mainApp.js"></script>

</body>

</html>
