<style>
  :root {
    --dropdown: {{auth.user.theme === 0 ? '#f8faf9' : '#343a40'}};
    --theme: {{auth.user.theme ? '#f8faf9' : '#343a40'}};
    --primaryColor: {{auth.user.primaryColor}};
  }
</style>
