<style>
  :root {
    --dropdown: {{auth.user?.theme ? '#343a40' : '#f8faf9'}};
    --theme: {{auth.user?.theme ? '#f8faf9' : '#343a40'}};
    --primaryColor: {{auth.user?.primaryColor || '#32CA42'}};
  }
</style>
